.cart-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item-info {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}

.total {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid var(--border-color);
  padding-top: 10px;
}
