/* --- Variables y Estilos Base --- */
.app-wrapper {

  --bg-main: #f3f4f6;
  --bg-nav: #ffffff;
  --text-main: #1f2937;
  --text-nav: #374151;
  --card-bg: #ffffff;
  --card-text-title: #1f2937;
  --card-text-category: #6b7280;
  --card-btn-bg: #212529;
  --card-btn-text: #ffffff;
  --border-color: #e5e7eb;

  background-color: var(--bg-main);
  color: var(--text-main);
  min-height: 100vh;
  width: 100%;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  transition: background-color 0.3s ease;
}

.app-wrapper[data-theme="dark"] {
  --bg-main: #373737;
  --bg-nav: #222222;
  --text-main: #f9fafb;
  --text-nav: #e5e7eb;
  --card-bg: #ffffff;
  --card-text-title: #1f2937;
  --card-text-category: #6b7280;
  --card-btn-bg: #1f2937;
  --card-btn-text: #ffffff;
  --border-color: #444444;
}

/* --- Layout --- */
.navbar {
  background: var(--bg-nav);
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}

.logo {
  margin: 0;
  color: var(--text-main);
  font-weight: 800;
  font-size: 1.2rem;
}

.links {
  display: flex;
  align-items: center;
  gap: 15px;
}

.links a {
  color: var(--text-nav);
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
}

.links a:hover {
  text-decoration: underline;
}

.content {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* --- Switch --- */
.theme-switch-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d1d5db; /* Gris claro plano para modo claro */
  border-radius: 26px;
  transition: .3s;
}

.app-wrapper[data-theme="dark"] .slider {
  box-shadow: inset 5px 5px 10px #1a1a1a, inset -5px -5px 10px #4d4d4d;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

/* Color cuando está en modo oscuro */

input:checked + .slider {
  background-color: #374151; /* Gris oscuro plano para modo oscuro */
}

input:checked + .slider:before {
  transform: translateX(24px);
}

.slider:before {
  content: "☀️"; /* Icono sol por defecto */
}

input:checked + .slider:before {
  content: "🌙"; /* Icono luna cuando se activa */
}

.app-wrapper[data-theme="dark"] .slider:before {
  background-color: #373737;
  box-shadow: 3px 3px 6px #1a1a1a, -3px -3px 6px #4d4d4d;
}


/* --- Responsive y Reset --- */
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    gap: 15px;
  }

  .links {
    flex-wrap: wrap;
    justify-content: center;
  }
}


